<form action="/single" method="post" enctype="multipart/form-data">
  <input type="file" name="file" />
  <input type="number" name="width" placeholder="Input desired width" />
  <input type="submit"/>
</form>
